.lang-bar {
  text-align: right;
  padding: 10px;
  background: #003366;
}

.lang-bar select {
  padding: 5px;
}
body {
    margin: 0;
    font-family: "Segoe UI", Arial, sans-serif;
    background: #f4f6f8;
}

/* Header */
header {
    background: linear-gradient(to right, #ff9933, #ffffff, #138808);
    text-align: center;
    padding: 15px;
    border-bottom: 4px solid #003366;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo h1 {
    margin-left: 10px;
    color: #003366;
}

.sun {
    color: #ff9933;
    font-size: 28px;
}

header p {
    margin: 0;
    font-size: 14px;
    color: #003366;
}

/* Login Box */
.login-box {
    width: 360px;
    margin: 80px auto;
    background: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

.login-box h2 {
    text-align: center;
    color: #003366;
}

input {
    width: 95%;
    padding: 10px;
    margin: 12px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background: #003366;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background: #002244;
}

#error {
    color: red;
    text-align: center;
    margin-top: 10px;
}

/* Footer */
footer {
    text-align: center;
    font-size: 12px;
    color: gray;
    margin-top: 50px;
}


